body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    height: 100vh;
}

/* CSS for positioning the cities list */
.info_list {
    position: absolute;
    top: 20px;
    right: 20px;
    /* Adjust right instead of left */
    z-index: 1000;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
}


.legends {
    position: absolute;
    top: 216px;
    right: 20px;
    z-index: 1000;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.legends p {
    font-size: 15px;
    border-bottom: 0.5px solid black;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}
.legend {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
}
.color-box {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
input[type="range"] {
    position: fixed;
    top: 50%;
    left: -13%;
    transform: rotate(-90deg) translateY(-50%);
    z-index: 1000;
    display: none;
    width: 30%;
    cursor: pointer;
}
